.cont1 {
  display: inline-block;
  width: 150px;
  inline-size: 150px;
  height: 180px;
  block-size: 120px;
  margin: 15px;
  padding: 50px;
  border: 3px solid rgb(225, 245, 150);
  border-radius: 20px;
  background-color: rgb(245, 153, 211);
  color: rgb(248, 246, 235);
}

.pic {
  display: inline-block;
  height: 180px;
  width: 150px;
}

img {
  height: 250px;
  width: 250px;
  margin: -18px;
  padding: 19px;
  display: flex;
}
